/************************************** HEADER **************************************/
/* header {
  position: relative;
}

header i {
  position: absolute;
  top: 5px;
  left: 25px;
} */

/************************************** IMAGE **************************************/
img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

/************************************** MENU **************************************/
#container-menu {
  background-color: var(--lightGrey);
  padding: 20px 5vw;

  position: relative;
  top: -58px;
  margin-bottom: -58px;

  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

/*********************************** RESTAURANT NAME ***********************************/
#container-name {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#container-name h1 {
  margin: 20px 7px 10px;
  font-weight: 500;
}

#container-name svg {
  display: block;
  width: 23px;
  height: auto;
  margin-right: 20px;
}

.starting-heart {
  stroke: black;
  fill: none;
}

.growing-heart {
  fill: none;
  transform: scale(0.1);
}

@keyframes fill-gradient-anim {
  to {
    transform: scale(1);
  }
}

.heart:hover .starting-heart {
  stroke: url(#gradient);
}

/* fill the heart progressively from center */
.heart:hover .growing-heart {
  fill: url(#gradient);
  transform-box: fill-box;
  transform-origin: center;
  animation: fill-gradient-anim 0.2s linear 0s forwards;
}

/*********************************** MENU ***********************************/
#container-menu-items {
  padding-top: 2px;
}

#container-menu-items h2 {
  font-size: var(--h2Menu);
  font-weight: 300;
  padding-left: 7px;

  margin-top: 20px;
  margin-bottom: 20px;
}

#container-menu-items h2 span {
  padding-bottom: 4px;
  border-bottom: 3px solid #99e2d0;
}

#container-menu-items ul {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
  margin-bottom: 30px;
}

.menu-items {
  width: 100%;
  margin: 7px 0;
  padding-left: 3%;
  background-color: white;

  border: none;
  border-radius: 15px;

  display: flex;
  justify-content: space-between;

  box-shadow: var(--cardShadow);

  overflow: hidden;
}

.menu-items .menu-items-text {
  width: 100%;
  overflow: hidden;
}

.menu-items-text h3 {
  font-size: var(--h3MenuItem);
  margin: 11px 0 2px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-items-text p {
  margin: 3px 0 12px;
  font-size: var(--pMenu);
  font-weight: 300;
}

.container-price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.container-price .subheading {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container-price .price {
  font-size: 1.02em;
  font-weight: 900;
  margin-left: 3.8%;
}

.menu-items-check {
  width: 25%;
  margin-left: 7%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--tertiaryGreen);
  color: white;

  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  /* anim */
  margin-right: -25%;
  transition: all 0.4s;
}

.menu-items-check i {
  transition: all 0.4s 0.08s;
}

/* ANIMATION */
.menu-items:hover .menu-items-check {
  margin-right: 0;
}
.menu-items:hover .menu-items-check i {
  transform: rotate(1turn);
}

#section-starter li:nth-child(1) {
  opacity: 0;
  transform: translateY(10px);
  animation: item-appearance 3s forwards;
}
#section-starter li:nth-child(2) {
  opacity: 0;
  transform: translateY(10px);
  animation: item-appearance 3s 0.2s forwards;
}
#section-starter li:nth-child(3) {
  opacity: 0;
  transform: translateY(10px);
  animation: item-appearance 3s 0.4s forwards;
}
#section-starter li:nth-child(4) {
  opacity: 0;
  transform: translateY(10px);
  animation: item-appearance 3s 0.6s forwards;
}
#section-maindish li:nth-child(1) {
  opacity: 0;
  transform: translateY(10px);
  animation: item-appearance 3s 1s forwards;
}
#section-maindish li:nth-child(2) {
  opacity: 0;
  transform: translateY(10px);
  animation: item-appearance 3s 1.2s forwards;
}
#section-maindish li:nth-child(3) {
  opacity: 0;
  transform: translateY(10px);
  animation: item-appearance 3s 1.4s forwards;
}
#section-maindish li:nth-child(4) {
  opacity: 0;
  transform: translateY(10px);
  animation: item-appearance 3s 1.6s forwards;
}
#section-dessert li:nth-child(1) {
  opacity: 0;
  transform: translateY(10px);
  animation: item-appearance 3s 2s forwards;
}
#section-dessert li:nth-child(2) {
  opacity: 0;
  transform: translateY(10px);
  animation: item-appearance 3s 2.2s forwards;
}
#section-dessert li:nth-child(3) {
  opacity: 0;
  transform: translateY(10px);
  animation: item-appearance 3s 2.4s forwards;
}
#section-dessert li:nth-child(4) {
  opacity: 0;
  transform: translateY(10px);
  transform: translateY(10px);
  animation: item-appearance 3s 2.6s forwards;
}

@keyframes item-appearance {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*********************************** COMMAND ***********************************/
#container-checkout-button {
  text-align: center;
}

#container-checkout-button button {
  margin: 10px auto 35px;
  padding: 17px 45px;
  border: none;
  border-radius: 25px;
  color: white;

  background: rgb(255, 121, 218);
  background: linear-gradient(
    170deg,
    rgba(255, 121, 218, 1) 0%,
    rgba(147, 86, 220, 1) 85%
  );

  box-shadow: var(--buttonDarker);
  cursor: pointer;

  transition: all 0.3s;
}

#container-checkout-button button:hover {
  background: linear-gradient(
    350deg,
    rgba(255, 121, 218, 1) 0%,
    rgba(147, 86, 220, 1) 85%
  );

  transform: scale(1.1);
}
