/************************************** FUNCTIONING SECTION **************************************/

#section-functioning ul {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

#section-functioning button i {
  margin-left: 7.5px;
  margin-right: 20px;
  display: block;
}

#section-functioning button {
  padding-right: 20px;
  display: flex;
  align-items: center;
  width: 100%;
}

#section-functioning button div {
  position: relative;

  min-width: 25px;
  left: -12.5px;
  top: 0;
}

/************************************** RESTAURANTS SECTION **************************************/
#section-resto {
  border-radius: 40px;

  margin-bottom: 70px;
}

#section-resto h2 {
  margin-bottom: 50px;
}

#section-resto ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  row-gap: 2.5vw;
}

#section-resto ul li {
  width: 48.5%;
}

.card-resto {
  border-radius: 25px;
}

.card-resto img {
  height: 23vw;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.new {
  top: 2vw;
  right: 2vw;
}
