.btn-cta {
  padding: 15px 20px;
  min-width: 170px;
  border: none;
  border-radius: 25px;
  color: white;

  @include buttonGradient();

  @include shadow($darkShadow);
  cursor: pointer;

  transition: all 0.3s;

  &:hover {
    @include buttonGradient("true");

    transform: scale(1.1);
  }
}
